@import "base/base";
@import "base/typography";
@import "base/animations";
@import "base/utilities";
@import "abstracts/variables";
@import "components/buttons";

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-size: 10px;
}
body{
    font-family: "Lato", sans-serif;
    color: $color-dark-gray;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
}
.header{ 
    height: 95vh;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-light),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

       &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
        }
        &__logo{
            height: 5rem;
        }
        &__text-box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-45%, -65%);
            text-align: center;
        }
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    &-main{
        display: block;
        font-size: 4rem;
        letter-spacing: 2rem;
        animation-name: move-left;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    &-sub{
        font-size: 2rem;
        display: block;
        font-weight: 600;
        letter-spacing: 1.7rem;
        animation: move-right 1s ease-out;
    }
} 


    

/* grid test */
.row{
    margin: 0 auto;
    width: 114rem;
    background-color: #eee;
    margin-bottom: 6rem;
}

/* about-section */
.about-section{
    margin-bottom: 5rem;
}
.heading-secondary{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-light);
    -webkit-background-clip:text;
    letter-spacing: 0.2rem;
}
.heading-secondary:hover{
    transform: skewY(1deg) skewX(15deg) scale(1.1);
}
.u-content-center{text-align: center;}