@import "base/base";
@import "base/typography";
@import "base/animations";
@import "base/utilities"; 
@import "abstracts/variables"; 
@import "abstracts/mixins";  
@import "components/buttons"; 
@import "components/form"; 
@import "components/story";  
@import "components/feature-box";     
@import "components/bg-video";   
@import "components/card"; 
@import "components/popup"; 
@import "layout/grid";     
@import "layout/about";        
@import "layout/navigation";        
@import "layout/footer";    
@import "layout/composition";  
@import "pages/home"; 
@import "components/new_logo";
                                 

body{  
    font-family: "Lato"; 
    color: $color-dark-gray;  
    font-size: 1.6rem; 
    font-weight: 400;  
    line-height: 1.7;   
}    

.header{   
    height: 95vh;     
    margin-right: -14rem;
    // background-image: linear-gradient(to right bottom, rgba($color-primary, .79), rgba($color-primary-light, .9)),url(../img/hero.jpg);
    background-image: linear-gradient(to right bottom, rgba($color-primary, .79), rgba($color-primary-light, .9)),url("https://images.pexels.com/photos/1449601/pexels-photo-1449601.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2500");
    background-size: cover;
    background-position: top;
    // object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    @media only screen and (max-width:1200px){
        
    }
       &__logo-box{      
        position: absolute;
        top: 4rem;     
        left: 4rem; 
        }
        &__logo{   
            height: 5rem;
        }
        &__text-box{
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-45%, -65%);
            text-align: center;
        }
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    &-main{
        display: block;  
        font-size: 4rem;   
        letter-spacing: 2rem;
        animation-name: move-left;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    &-sub{ 
        font-size: 2rem; 
        display: block;
        font-weight: 600;
        letter-spacing: 1.7rem;
        animation: move-right 1s ease-out;
    }     
}     
  
// .logo{
//     padding: 1rem;
//     display: flex;
//     // position: relative;
//     color: white;
//     // z-index: 4;
//   &_main{
//      margin-right: auto;
//     display: flex;
//     flex-direction: column;
//     border: 2px solid white;
//     height: 7rem;
//     width: 7rem;
//     border-radius: 50%;
//   }
//     &_circle{
//         text-align: center;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//        font-size: 2rem;
//        font-weight: 700; 
//        height: 5rem;
//        width: 5rem;
//        display: block;
//      & i{
//          width: 3.5rem;
//          height: 2px;
//          background-color: $color-primary;
//          display: block;
//          margin-left: 2rem;
//          margin-top: .7rem;
//      }
//     }
//     &_heading{
//         @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
//         font-family: 'Dancing Script', cursive;
//         font-size: 2.5rem;
//     }
// &_title{
//     display: flex;
//     flex-direction: column;
//     margin-left: 2rem;
//     & h1{
//     margin: 0;
//     }
// } 
// }
      




       