.footer{
    background-color: $color-extra-dark-gray;
    padding: 10rem 5rem;
    color: $color-light-gray;

    margin-right: -14rem;
    &_logo-box{
  text-align: center;
  margin-bottom: 7rem;
    }
    &-logo{
   width: 15rem;
   height: auto;
    }
    &-navigation{
    border-top: 1px solid $color-dark-gray; 
    padding-top: 1rem;
    display: inline-block;
   }
    &-list{
        list-style: none;

    }
    &-item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }

    }
    &-link{
        &:visited,&:link{
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            color: $color-light-gray;


        }
        &:hover, &:active{
            color: $color-primary;
            // box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
            transform: rotate(3deg) scale(1.2);
        }

    }
    &-copyright{
    border-top: 1px solid $color-dark-gray; 
    padding-top: 1rem;
    display: inline-block;
    width: 80%;
    }
}