.u-content-center{text-align: center;}
.u-mb-8{
    margin-bottom: 8rem;
}
.u-mb-medium{          
    padding: rem;
    font-weight: 700;
}               
.mb-2{margin-bottom: 2rem;}
.mb-small{
    margin-bottom: 1rem;
}     
.u-mt-big{
    margin-top: 8rem;              
}
  